body {
    background: rgb(59, 60, 57);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    }
    
    .calculatorContainer {
        display: flex;
        flex-direction: column;
        width: 380px;
        min-width: 380px;
        height: 550px;
        min-height: 550px;;
        border: solid rgb(36, 36, 36) .3em;
        border-radius: .5em;
        background: rgb(36, 36, 36);
        box-shadow: 0px 0px 120px rgb(169, 169, 169);
    }

    .outputScreen {
        display: flex;
        border: solid rgb(36, 36, 36) .2rem;
        border-radius: .35rem;
        background: #fefae0;
        flex: 2;
        font-size: 3.5rem;
        justify-content: end;
        align-items: center;
        margin-bottom: .2rem;
    }
    
    .display{
        margin-right: .3em;
    }

    .button-row {
        display:flex;
        flex: 2;
    }

    .button {
        display: flex;
        background: #606c38;
        justify-content: space-evenly;
        align-items: center;
        flex: 1;
        border-radius: .2em;
        font-size: 1.8rem;
        margin: .1rem;
    }

    .zero {
        flex: 2.24;
    }

    .ac,
    .posOrNeg,
    .percent{
        background: #3a4e23
    }

    .divide,
    .multiply,
    .subtract,
    .addition,
    .equal {
        background: #bc6c25;
    }
    
    